[submodule "backend"]
	path = backend
	url = https://github.com/kwotaq/osu-grStatistics_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kwotaq/osu-grStatistics_frontend.git
