:root {
    --bg-primary: #020403;
    --bg-secondary: #050a08;
    --bg-tertiary: #0c1410;

    --alien-primary: #00ff66;
    --alien-secondary: #00ccff;
    --alien-glow: rgba(0, 255, 102, 0.3);
    --alien-data: #b3ffce;

    --text-primary: #ffffff;
    --text-secondary: var(--alien-primary);
    --text-muted: #4e6b5d;

    --border-radius: 0px;
    --border-alien: 1px solid rgba(0, 255, 102, 0.4);


    --shadow-alien: 0 0 15px var(--alien-glow);
    --shadow-inset: inset 0 0 10px rgba(0, 255, 102, 0.1);

    --transition-fast: 0.05s linear;
    --transition-normal: 0.2s cubic-bezier(0, 1, 0, 1);
}