.dataListContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gold-secondary);
}

.listHeader :global(h2) {
    color: var(--gold-primary);
    font-size: 2rem;
    margin: 0;
}

.itemCount {
    background: var(--bg-tertiary);
    color: var(--gold-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: var(--border-gold);
    font-weight: bold;
    box-shadow: var(--shadow-gold);
}

.flatList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.activePage {
    background: var(--gold-primary);
    color: var(--bg-primary);
    border-color: var(--gold-primary);
    font-weight: bold;
}


.scrollContainer {
    height: 1200px;
    overflow-y: auto;
    overflow-x: hidden;

    overscroll-behavior: contain;

    padding-right: 8px;
    position: relative;
}

.scrollContainer::-webkit-scrollbar {
    width: 6px;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: var(--gold-primary);
    border-radius: 10px;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .listGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .listGrid {
        grid-template-columns: 1fr;
    }
}